body {
  margin: 0 !important;
  font-family: -apple-system, BlinkMacSystemFont, "Lato", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
  background-color: #f5f5f4 !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

.hand {
  width: 100%;
  height: 40%;
  background-image: url("./static/Hand.png");
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: 100% 100%;
}

.solar {
  width: 100%;
  height: 40%;
  background-image: url("./static/Solar.png");
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: 100% 100%;
}

.wind {
  width: 100%;
  height: 40%;
  background-image: url("./static/Wind.png");
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: 100% 100%;
}
